#logo {
  height: 90px;
  width: 75px;
}

ul {
  list-style: none;
  margin-top: 20px;
  margin-left: 6%;
  padding: 0;
  display: inline-block;
  margin-right: 0;
  padding-right: 0
}

li {
  display: inline;
}

nav {
  margin-top: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  font-variant: small-caps;
  font-size: 25px;
  color: black;
  vertical-align: middle;
  margin-right: 10px;
  letter-spacing: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#cart {
  margin-left: 265px;
  ;
  height: 55px;
  width: 55px;
  margin-right: 6%;
  padding: 10px 10px 10px 10px;
  border-width: 0 0 0 0;
  background-size: 100px;
}

#cart:hover {
  background-color: lightgrey;
  border-radius: 40px;
  background-size: 100px;
}

.image {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  width: 90%;
  height: auto;
  ;
}

hr {
  text-align: center;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  border-color: darkgrey;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#display-area {
  color: white;
}

.card {
  background-color: white;
  width: 20%;
  color: black;
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin: 30px 15px 20px 15px;
  opacity: .85;
  vertical-align: top;
}

.poster {
  max-width: 80%;
  margin: 0 auto;
}
